.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.light-green {
    background: lightgreen;
}

.light-green-text {
    color: darkslateblue;
}

.violet {
    background-color: #d787fa;
}

.violet-text {
    color: darkviolet;
}

.blue {
    background-color: #43e5f7;
}

.blue-text {
    color: blue;
}

.military-green {
    background-color: darkgreen;
}

.military-green-text {
    color: greenyellow;
}

.yellow {
    background-color: yellow;
}

.yellow-text {
    color: orangered;
}