input[type="radio"] {
    display: none;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 5px;
    vertical-align: middle;
    background: url(https://proweb63.ru/assets/chema/images/blog/check_radio_sheet.png) -38px top no-repeat;
    cursor: pointer;
}

input[type="radio"]:checked + label span {
    background: url(https://proweb63.ru/assets/chema/images/blog/check_radio_sheet.png) -57px top no-repeat;
}